.navbar {
    height: 4rem;
    width: 100%;
    background: #000;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    cursor: pointer;
    /* margin: 20px; */

}

.logo-image {
    width: 150px;
    height: 84.375px;
}

.links-container {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}